/*color palette*/
:root {
  --green: #084723;
  --lime: #DEF27C;
  --pink: #FF006A;
  --yellow: #FFCC00;
  --white: #FCFAFA;
  --black: #080808;
}

/*font declarations*/
@font-face {
  font-family: 'manrope';
  src: url('fonts/Manrope-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'figtree';
  src: url('fonts/Figtree-VariableFont_wght.ttf');
}

.app {
  /*mobile screen dimensions*/
  width: 393px;
  height: 852px;

  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;

  /*center align spacing*/
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;

  border: black 2px solid;
}

/*basic layout structuree*/
.layout {
  width: 393px;
  height: 852px;

  align-items: center;
  justify-content: center;

  display: flex;
  flex-direction: column;
}

.navbar {
  position: absolute;
  bottom: 0;
  width: 353px;
  height: 78px;
  border-radius: 100px;
  margin-bottom: 19px;
  margin-left: auto;
  margin-right: auto;
  
  background-color: var(--green);
}

.logotype {
  width: 230px;
  position: absolute;
  top: 0;
  margin-top: 150px;
}

.spacer {
  margin-top: 0;
  margin-bottom: 0;
}

.solid-button {
  width: 312px;
  height: 73px;
  margin-bottom: 30px;
  border-radius: 100px;
  border: 0px none;

  font-family: manrope;
  font-size: 18px;
  font-weight: 800;

  background-color: var(--black);
  color: var(--pink);
}

.hollow-button {
  width: 312px;
  height: 73px;
  border-radius: 100px;
  border: 5px var(--black) solid;

  font-family: manrope;
  font-size: 18px;
  font-weight: 800;

  background-color: transparent;
  color: var(--black);
}

.back-arrow {
  position: fixed;
  top: 0;
  align-self: flex-start;
  margin-top: 30px;
  margin-left: 30px;
}

.input {
  width: 312px;
  height: 66px;
  border-radius: 100px;
  border: 0px none;
  margin-bottom: 22px;
  text-indent: 20px;

  font-family: figtree;
  font-size: 18px;
  font-weight: 600;

  background-color: #B1AFAF;
  color: #595858;
}

.pw-forgot {
  border: 0px none;
  background-color: transparent;

  margin-top: 12px;
  margin-bottom: 12px;

  font-family: figtree;
  font-size: 16px;
  color: #595858;
}

.small-header {
  font-family: figtree;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 15px;
}

.body-text {
  font-family: figtree;
  font-size: 16px;

  margin-top: 0;
  margin-left: 40px;
  margin-right: 40px;
}

.recipies-grid {
  display: grid;
  width: 393px;
  height: 800px;
  grid-template-columns: repeat(2, 1fr);
}

.recipies-card {
  border-color: black;
  width: 163px;
  height: 163px;

}

.recipies-image {
  width: 163px;
  height: 163px;
}

.divider {
  height: 1px;
  width: 393px;
  background-color: #595858;
}

/*pantry styling*/
.pantry-grid {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.pantry-item {
  position: relative;
}

.pantry-image {
  width: 110px;
  height: 110px;
  border-radius: 20px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 10px var(--pink); /*temp - needs to be conditional*/
}

.pantry-button {
  border: 0px none;
  background-color: transparent;
}

.pantry-overlay {
  position: absolute;
  top: 0;
  margin-top: 71px;
  margin-left: 6px;
  border-radius: 0px 0px 20px 20px;
  text-align: left;
  padding: 10px;
  padding-top: 5px;
  font-family: figtree;
  font-size: 12px;
  font-weight: 200px;
  height: 25px;
  width: 90px;
  background-color: rgb(8, 8, 8, 0.75);
  color: var(--white);
}

.item-image {
  width: 149px;
  height: 149px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px var(--pink); /*temp - needs to be conditional*/
}