/*color palette*/
:root {
  --green: #084723;
  --lime: #DEF27C;
  --pink: #FF006A;
  --yellow: #FFCC00;
  --white: #FCFAFA;
  --black: #080808;
}
/*font declarations*/
@font-face {
  font-family: 'manrope';
  src: url('fonts/Manrope-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'figtree';
  src: url('fonts/Figtree-VariableFont_wght.ttf');
}
.app {
  /*mobile screen dimensions*/
  width: 393px;
  height: 820px;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  /*center align spacing*/
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  border: black 2px solid;
  background-color: var(--white);
}
/*basic layout structure*/
.layout {
  width: 393px;
  height: 852px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
/*heading for 4 main component pages*/
h1 {
  font-family: manrope;
  font-size: 28px;
  font-weight: 800;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 60px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
/*heading for add/edit pages*/
h2 {
  font-family: manrope;
  font-size: 28px;
  font-weight: 800;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 60px;
}
/*item page labels*/
h3 {
  font-family: figtree;
  font-size: 20px;
  font-weight: 700;
  color: var(--green);
  margin-top: 10px;
  margin-bottom: 5px;
}
/*shopping item names and recipe subheadings*/
h4 {
  font-family: figtree;
  font-size: 18px;
  font-weight: 650;
  margin-bottom: 5px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 333px;
  height: 78px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 100px;
  margin-bottom: 19px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--green);
  z-index: 3;
}
/*navbar icon styling*/
svg {
  width: 31px;
  height: 31px;
  fill: var(--lime);
}
input:focus {
  outline: none;
}
label {
  font-family: figtree;
  font-size: 20px;
  font-weight: 700;
  color: var(--green);
}
.label2 {
  font-family: figtree;
  font-size: 18px;
  font-weight: 400;
  color: var(--black);
  margin-top: 0px;
  margin-bottom: 0px;
}
/*select dropdowns*/
select {
  width: 200px;
  height: 36px;
  border-radius: 12px;
  border: 0px none;
  margin-top: 5px;
  margin-bottom: 10px;
  text-indent: 0px;
  padding-left: 10px;
  font-family: figtree;
  font-size: 18px;
  font-weight: 600;
  background-color: #e3e3e3;
  color: #595858;
}
video {
  width: 100%;
  height: 600px;
}
/*recipe list styling*/
ul {
  list-style-position: inside;
  list-style-type: circle;
  margin: 0;
}
li {
  display: flex;
  align-items: center;
}
/*recipe add/edit textarea*/
textarea {
  width: 333px;
  height: 155px;
  border-radius: 12px;
  border: 0px none;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 10px;
  font-family: figtree;
  font-size: 18px;
  font-weight: 600;
  background-color: #e3e3e3;
  color: #595858;
}
.nav-button {
  background-color: transparent;
  border: 0px none;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: auto;
  margin-bottom: auto;
}
/*class for selected nav button*/
.nav-button-active {
  background-color: var(--white);
  height: 58px;
  border: 0px none;
  border-radius: 40px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
}
.nav-button-active svg {
  width: 31px;
  height: 31px;
  fill: var(--green);
}
.logotype {
  width: 230px;
  position: absolute;
  top: 0;
  margin-top: 150px;
}
/*div class for blocking space with inline height*/
.spacer {
  margin-top: 0;
  margin-bottom: 0;
}
/*onbaording elements*/
.solid-button {
  width: 312px;
  height: 73px;
  margin-bottom: 30px;
  border-radius: 100px;
  border: 0px none;
  font-family: manrope;
  font-size: 18px;
  font-weight: 800;
  background-color: var(--black);
  color: var(--pink);
}
.hollow-button {
  width: 312px;
  height: 73px;
  border-radius: 100px;
  border: 5px var(--black) solid;
  font-family: manrope;
  font-size: 18px;
  font-weight: 800;
  background-color: transparent;
  color: var(--black);
}
.back-arrow {
  position: fixed;
  top: 0;
  align-self: flex-start;
  margin-top: 30px;
  margin-left: 20px;
  background-color: transparent;
  border: 0px none;
}
.input {
  width: 312px;
  height: 66px;
  border-radius: 100px;
  border: 0px none;
  margin-bottom: 22px;
  text-indent: 20px;
  font-family: figtree;
  font-size: 18px;
  font-weight: 600;
  background-color: #B1AFAF;
  color: #595858;
}
.pw-forgot {
  border: 0px none;
  background-color: transparent;
  margin-top: 12px;
  margin-bottom: 12px;
  font-family: figtree;
  font-size: 16px;
  color: #595858;
}
/*password reset page*/
.pw-header {
  font-family: figtree;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 15px;
}
.body-text {
  font-family: figtree;
  font-size: 16px;
  margin-top: 0;
}
/*global green button*/
.green-button {
  font-family: figtree;
  font-size: 18px;
  font-weight: 500;
  background-color: var(--green);
  border: 0px none;
  border-radius: 10px;
  color: var(--white);
  padding: 10px;
}
/*global close button*/
.close-button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 19px;
  background-color: transparent;
  border: 0px none;
}




/*pantry styling*/
.pantry {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 12px;
}
.pantry-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 363px;
  margin-left: -10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-bar {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 65px;
  width: 215px;
  height: 28px;
  padding-left: 10px;
  font-family: figtree;
  font-size: 14px;
  font-weight: 700;
  background-color: #e3e3e3;
  border: 2px var(--green) solid;
  border-radius: 20px;
  color: var(--black);
}
/*category bar*/
.cat-bar {
  position: absolute;
  top: 0;
  display: inline-block;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: thin;
  white-space: nowrap;
  width: 343px;
  height: 34px;
  margin-top: 105px;
  margin-left: 15px;
  border-radius: 10px;
  background-color: var(--lime);
}
.cat-bar::-webkit-scrollbar {
  display: none;
}
.cat-button {
  font-family: figtree;
  font-size: 14px;
  font-weight: 600;
  background-color: transparent;
  border: 0px none;
  height: 34px;
  padding-left: 8px;
  padding-right: 8px;
}
.cat-button:focus {
  background-color: var(--green);
  color: var(--white);
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 10px;
}
.pantry-grid {
  position: absolute;
  top: 0;
  margin-top: 145px;
  margin-left: 10px;
  padding-top: 4px;
  width: 373px;
  height: 670px;
  display: flex;
  flex-wrap: wrap;
  column-count: 3;
  column-gap: 0px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.pantry-grid::-webkit-scrollbar {
  display: none;
}
/*for gradient blur transition*/
.blurred {
  position: absolute;
  bottom: 0;
  margin-bottom: -40px;
  width: 393px;
  height: 100px;
  filter: blur(20px);
  background-color: white;
}
.pantry-item {
  position: relative;
}
/*item images by status*/
.pantry-fresh {
  width: 105px;
  height: 105px;
  border-radius: 20px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  margin-bottom: 5px;
}
.pantry-fresh2 {
  width: 149px;
  height: 149px;
  border-radius: 20px;
  margin-left: 7px;
  margin-right: 2.5px;
  margin-bottom: 5px;
}
.pantry-soon {
  width: 105px;
  height: 105px;
  border-radius: 20px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 10px var(--yellow);
}
.pantry-soon2 {
  width: 149px;
  height: 149px;
  border-radius: 20px;
  margin-left: 7px;
  margin-right: 2.5px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 10px var(--yellow);
}
.pantry-exp {
  width: 105px;
  height: 105px;
  border-radius: 20px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 10px var(--pink);
}
.pantry-exp2 {
  width: 149px;
  height: 149px;
  border-radius: 20px;
  margin-left: 7px;
  margin-right: 2.5px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 10px var(--pink);
}
/*styling of image+overlay label as button*/
.pantry-button {
  border: 0px none;
  background-color: transparent;
  margin-top: 0px;
  margin-bottom: 0px;
}
.pantry-overlay {
  position: absolute;
  top: 0;
  margin-top: 71px;
  margin-left: 2px;
  border-radius: 0px 0px 20px 20px;
  text-align: left;
  padding: 10px;
  padding-top: 5px;
  font-family: figtree;
  font-size: 12px;
  font-weight: 200px;
  height: 25px;
  width: 85px;
  background-color: rgb(8, 8, 8, 0.75);
  color: var(--white);
}
/*item/recipe page layout*/
.item-page {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 20px;
  text-align: left;
  width: 363px;
  height: 800px;
  margin-top: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.item-page::-webkit-scrollbar {
  display: none;
}
/*div containing item image and button column*/
.item-header {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 60px;
  width: 353px;
  display: flex;
  justify-content: space-between;
}
.item-column {
  height: 149px;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item-button {
  font-family: figtree;
  font-size: 20px;
  font-weight: 500;
  background-color: var(--green);
  border: 0px none;
  border-radius: 10px;
  color: var(--white);
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  height: 45px;
}
/*text status styles*/
.status-fresh {
  font-family: figtree;
  font-size: 18px;
  font-weight: 600;
  color: var(--green);
  margin-top: 230px;
  margin-bottom: 0px;
}
.status-soon {
  font-family: figtree;
  font-size: 18px;
  font-weight: 600;
  color: var(--yellow);
  margin-top: 230px;
  margin-bottom: 0px;
}
.status-exp {
  font-family: figtree;
  font-size: 18px;
  font-weight: 600;
  color: var(--pink);
  margin-top: 230px;
  margin-bottom: 0px;
}
/*item information*/
.item-info {
  font-family: figtree;
  font-size: 18px;
  margin-top: 0px;
}
/*input fields*/
.item-input {
  width: 250px;
  height: 36px;
  border-radius: 12px;
  border: 0px none;
  margin-top: 5px;
  margin-bottom: 20px;
  text-indent: 10px;
  font-family: figtree;
  font-size: 18px;
  font-weight: 600;
  background-color: #e3e3e3;
  color: #595858;
}
/*small image for item edit page*/
.edit-image {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 7px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px var(--black);
}
/*camera and upload buttons*/
.image-input {
  justify-content: center;
  width: fit-content;
  border-radius: 12px;
  border: 0px none;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-right: 5px;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  font-family: figtree;
  font-size: 18px;
  font-weight: 600;
  background-color: #e3e3e3;
  color: var(--black);
}
/*clears default file upload styling and text*/
.upload {
  opacity: 0;
  width: 0.1px;
}
.image-opts {
  display: block;
  width: 200px;
  margin-top: 0px;
  height: 20px;
}
/*nutrition facts styling*/
.nf-dropdown {
  display: flex;
  flex-direction: column;
}
.nf-toggle {
  width: 353px;
  display: flex;
  justify-content: space-between;
}
.nf-block {
  display: none;
  width: 343px;
  margin-top: 40px;
  position: absolute;
  overflow: hidden;
  margin-right: 0px;
}
.nf-dropdown:hover .nf-block {
  display: block;
}
.nf-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}
.nf-header {
  font-family: manrope;
  font-size: 16px;
  font-weight: 600;
  color: var(--green);
  margin-top: 0px;
  margin-bottom: 3px;
  float: left;
}
.nf-text {
  font-family: manrope;
  font-size: 16px;
  font-weight: 200;
}
.nf-quant {
  font-family: manrope;
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
}
.nf-line {
  width: 373px;
  height: 2px;
  background-color: var(--green);
}
.nf-small {
  font-family: manrope;
  font-size: 12px;
  font-weight: 400;
  color: var(--black);
}
.arrow {
  margin-top: 13px;
}
.save-button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 90px;
  margin-right: 20px;
  background-color: var(--green);
  border: 0px none;
  border-radius: 10px;
  color: var(--white);
  font-family: figtree;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
}
.add-button {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: transparent;
  border: 0px none;
  margin-bottom: 111px;
  margin-right: 19px;
  z-index: 10;
}
/*manual vs scan inpur*/
.mode-bar {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 110px;
  width: 353px;
  height: 34px;
  display: flex;
  background-color: var(--lime);
  border-radius: 10px;
}
.mode-button {
  width: 176.5px;
  height: 34px;
  background-color: transparent;
  color: var(--green);
  border: 0px none;
  border-radius: 10px;
  font-family: figtree;
  font-size: 18px;
  font-weight: 600;
}
.mode-button2 {
  width: 176.5px;
  height: 34px;
  background-color: var(--green);
  color: var(--white);
  border: 0px none;
  border-radius: 10px;
  font-family: figtree;
  font-size: 18px;
  font-weight: 600;
}






/*popup styling*/
.popup-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 191px;
  border-radius: 20px;
  background-color: pink;
  border: 0px none;
}
.popup-text {
  font-family: figtree;
  font-size: 20px;
  font-weight: 400;
  padding-top: 20px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 5px;
}
.popup-text2 {
  font-family: figtree;
  font-size: 20px;
  font-weight: 400;
  padding-top: 5px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 0px;
  margin-bottom: 5px;
}
.popup-text3 {
  font-family: figtree;
  font-size: 20px;
  font-weight: 400;
  padding: 35px;
}
.popup-label {
  font-family: figtree;
  font-size: 16px;
  font-weight: 500;
  color: var(--black);
}






/*recipe styling*/
.recipes-grid {
  position: absolute;
  top: 0;
  margin-top: 120px;
  width: 363px;
  height: 600px;
  display: flexbox;
  column-count: 2;
  column-gap: 0px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.recipes-grid::-webkit-scrollbar {
  display: none;
}
.recipes-image {
  width: 163px;
  height: 163px;
  border-radius: 20px;
  margin-bottom: 0px;
}
.recipes-overlay {
  position: absolute;
  top: 0;
  margin-top: 98px;
  border-radius: 0px 0px 20px 20px;
  text-align: left;
  padding: 10px;
  padding-top: 5px;
  font-family: figtree;
  font-size: 18px;
  font-weight: 200px;
  height: 59px;
  width: 143px;
  background-color: rgb(8, 8, 8, 0.75);
  color: var(--white);
}
.recipes-card {
  position: relative;
}
.recipe-button {
  background-color: transparent;
  border: 0px none;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 7px;
  margin-bottom: 7px;
}
/*image for recipe page*/
.recipes-image2 {
  width: 163px;
  height: 163px;
  border-radius: 20px;
  margin-top: 160px;
}
/*recipe name and buttons*/
.recipe-header {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 60px;
  width: 353px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}
.recipe-buttons {
  display: flex;
}
.recipe-name {
  font-family: manrope;
  font-size: 28px;
  font-weight: 700;
}
/*style for 'ingredients' and 'instructions'*/
.recipe-label {
  font-family: figtree;
  font-size: 16px;
  font-weight: 600;
}
.recipe-block {
  display: inline-flex;
  align-items: top;
}
.ing-list {
  width: 220px;
  margin-top: 140px;
  margin-left: -25px;
}
/*pink dot to indicate missing ingredient*/
.missing-icon {
  width: 7px;
  height: 7px;
  background-color: var(--pink);
  border-radius: 10px;
  margin-left: 5px;
}







/*shopping styling*/
.shopping-item {
  width: 323px;
  height: 77px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 40px;
}
.shopping-item input[type="checkbox"] {
  appearance: none;
  width: 35px;
  height: 35px;
  align-self: center;
  background: url('assets/checkbox-unselected.png');
}
.shopping-item input[type="checkbox"]:checked {
  background-image: url('assets/checkbox-selected.png');
}
/*includes name and quantity*/
.shopping-info {
  text-align: left;
  width: 150px;
  display: flex;
  flex-direction: column;
}
.button-bar {
  position: absolute;
  bottom: 112px;
  left: 20px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button-bar button {
  background-color: var(--green);
  color: var(--white);
  border: 0;
  border-radius: 12px;
  padding: 8px 14px;
  font-family: 'figtree';
  font-size: 18px;
  font-weight: 500;
}
.button-bar button+button {
  width: 48px;
  height: 48px;
  background: transparent;
  background-image: url('assets/add-icon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 42px 42px;
  color: transparent;
}
/*line between items*/
.divider {
  height: 1px;
  width: 393px;
  background-color: #a0a0a0;
}
.shopping-list {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 120px;
}




.shopping-remove-popup {
  width: 273px;
  height: 191px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.shopping-remove-popup p {
  font-family: 'manrope';
  font-size: 18px;
  font-weight: 500;
}






/*pink solid*/
.remove-confirm {
  background-color: var(--pink);
  color: var(--white);
  border: 0;
  border-radius: 20px;
  width: 125px;
  height: 43px;
  font-family: 'figtree';
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
}
/*pink hollow*/
.remove-cancel {
  background-color: transparent;
  color: var(--pink);
  border: 2px var(--pink) solid;
  border-radius: 20px;
  width: 125px;
  height: 43px;
  font-family: 'figtree';
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
}

.shopping-add-popup {
  width: 273px;
  min-height: 191px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding: 16px;
  border-radius: 20px;
  background-color: var(--white);
  border: 0;
}





/* account styling*/
.profile-pic {
  width: 137px;
  height: 137px;
  margin-top: 0px;
}

.profile-settings {
  text-align: left;
  margin-left: 30px;
  font-size: 15px;
  font-family: figtree;
  line-height: 30px;
  margin-top: 0px;
}

/*Users Name*/
.profile-settings h2 {
  font-size: 15px;
  font-style: italic;
  font-family: figtree;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;
}

.profile-settings p {
  margin: 0px;
}

/*Logout Text*/
.accountpage-logout {
  color: #FF006A;
  font-weight: bold;
  font-family: figtree;
}

.account-notifications {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: figtree;
}

/*Notification title*/
.account-notifications h4 {
  text-align: left;
  margin-bottom: 0px;
}

.notification-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification-item p {
  width: 300px;
  margin: 0;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

/*Account Title*/
.app h1 {
  margin-left: 30px;
}


/* SLIDER TECHNOLOGY!!!!!!!!!*/
.toggle {
  position: relative;
}

.toggle input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: relative;
  display: block;
  cursor: pointer;
  background-color: #e6e0e9;
  transition: 0.4s;
  width: 48px;
  height: 28px;
  border-radius: 32px;
  border: 2px solid #79747E;
}

.slider:before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  background-color: #79747E;
  transition: 0.4s;
  top: 6px;
  left: 6px;
  border-radius: 60px;
}

input:checked+.slider {
  background-color: #080808;
  border-color: #080808;

}

input:checked+.slider:before {
  width: 24px;
  height: 24px;
  transform: translateX(18px);
  top: 2px;
  left: 2px;
  background-color: #FFFFFF;
}

.account-personal {
  position: absolute;
  margin-top: -470px;
  width: 353px;
  display: flex;
  align-items: center;
}

/*Household settings*/
.householdBox {
  background-color: #DEF27C;
  border-radius: 25px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  width: 250px;
  padding: 40px 20px;
  margin: 0 auto 100px auto;
}

.householdBox p {
  border-bottom: 1px solid var(--black);
  padding-bottom: 8px;
  margin-bottom: 12px;
}

/*Join household button*/
.householdBox button:first-of-type {
  background-color: #084723;
  color: white;
  border-radius: 50px;
  font-size: 20px;
  width: 100%;
  height: 73px;
  font-weight: bold;
  border: 5px solid #084723;
}

/*Create Household Button*/
.householdBox button:last-of-type {
  background-color: #DEF27C;
  color: #084723;
  border-radius: 50px;
  font-size: 20px;
  width: 100%;
  height: 73px;
  font-weight: bold;
  border:
    5px solid #084723;
}