/*color palette*/
:root {
  --green: #084723;
  --lime: #DEF27C;
  --pink: #FF006A;
  --yellow: #FFCC00;
  --white: #FCFAFA;
  --black: #080808;
  --blue: #8c74ea;
}

/*font declarations*/
@font-face {
  font-family: 'manrope';
  src: url('fonts/Manrope-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'figtree';
  src: url('fonts/Figtree-VariableFont_wght.ttf');
}

.app {
  /*mobile screen dimensions*/
  width: 393px;
  height: 852px;

  text-align: center;
  align-items: center;
  justify-content: center;

  /*center align spacing*/
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;

  border: black 2px solid;
}