/*color palette*/
:root {
  --green: #084723;
  --lime: #DEF27C;
  --pink: #FF006A;
  --yellow: #FFCC00;
  --white: #FCFAFA;
  --black: #080808;
}

/*font declarations*/
@font-face {
  font-family: 'manrope';
  src: url('fonts/Manrope-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'figtree';
  src: url('fonts/Figtree-VariableFont_wght.ttf');
}

.app {
  /*mobile screen dimensions*/
  width: 393px;
  height: 852px;

  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;

  /*center align spacing*/
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;

  border: black 2px solid;
}

/*basic layout structuree*/
.layout {
  width: 393px;
  height: 852px;

  align-items: center;
  justify-content: center;

  display: flex;
  flex-direction: column;
}

h1 {
  font-family: manrope;
  font-size: 28px;
  font-weight: 800;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 60px;
  margin-bottom: 0px;
}

h2 {
  font-family: manrope;
  font-size: 28px;
  font-weight: 800;
}

h3 {
  font-family: figtree;
  font-size: 20px;
  font-weight: 700;
  color: var(--green);
  margin-top: 10px;
  margin-bottom: 5px;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0;
  width: 353px;
  height: 78px;
  border-radius: 100px;
  margin-bottom: 19px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--green);
}

svg {
  width: 31px;
  height: 31px;
  fill: var(--lime);
}

input:focus {
  outline: none;
}

label {
  font-family: figtree;
  font-size: 20px;
  font-weight: 700;
  color: var(--green);
}

.label2 {
  font-family: figtree;
  font-size: 18px;
  font-weight: 400;
  color: var(--black);
  margin-top: 0px;
  margin-bottom: 0px;
}

select {
  width: 200px;
  height: 36px;
  border-radius: 12px;
  border: 0px none;
  margin-top: 5px;
  margin-bottom: 10px;
  text-indent: 0px;
  padding-left: 10px;

  font-family: figtree;
  font-size: 18px;
  font-weight: 600;

  background-color: #e3e3e3;
  color: #595858;
}

option {
  width: 200px;
  height: 36px;
  border-radius: 12px;
  border: 0px none;
  margin-top: 5px;
  margin-bottom: 10px;
  text-indent: 0px;
  padding-left: 10px;

  font-family: figtree;
  font-size: 18px;
  font-weight: 600;

  background-color: #e3e3e3;
  color: #595858;
}

video {
  width: 100%;
  height: 600px;
}

.nav-button {
  background-color: transparent;
  border: 0px none;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: auto;
  margin-bottom: auto;
}

.nav-button:hover {
  background-color: var(--white);
  height: 58px;
  border-radius: 40px;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-button:hover svg {
  width: 31px;
  height: 31px;
  fill: var(--green);
}

.logotype {
  width: 230px;
  position: absolute;
  top: 0;
  margin-top: 150px;
}

.spacer {
  margin-top: 0;
  margin-bottom: 0;
}

.solid-button {
  width: 312px;
  height: 73px;
  margin-bottom: 30px;
  border-radius: 100px;
  border: 0px none;

  font-family: manrope;
  font-size: 18px;
  font-weight: 800;

  background-color: var(--black);
  color: var(--pink);
}

.hollow-button {
  width: 312px;
  height: 73px;
  border-radius: 100px;
  border: 5px var(--black) solid;

  font-family: manrope;
  font-size: 18px;
  font-weight: 800;

  background-color: transparent;
  color: var(--black);
}

.back-arrow {
  position: fixed;
  top: 0;
  align-self: flex-start;
  margin-top: 30px;
  margin-left: 20px;
  background-color: transparent;
  border: 0px none;
}

.input {
  width: 312px;
  height: 66px;
  border-radius: 100px;
  border: 0px none;
  margin-bottom: 22px;
  text-indent: 20px;

  font-family: figtree;
  font-size: 18px;
  font-weight: 600;

  background-color: #B1AFAF;
  color: #595858;
}

.pw-forgot {
  border: 0px none;
  background-color: transparent;

  margin-top: 12px;
  margin-bottom: 12px;

  font-family: figtree;
  font-size: 16px;
  color: #595858;
}

.small-header {
  font-family: figtree;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 15px;
}

.body-text {
  font-family: figtree;
  font-size: 16px;

  margin-top: 0;
  margin-left: 40px;
  margin-right: 40px;
}

.recipies-grid {
  display: grid;
  width: 393px;
  height: 800px;
  grid-template-columns: repeat(2, 1fr);
}

.recipies-card {
  border-color: black;
  width: 163px;
  height: 163px;

}

.recipies-image {
  width: 163px;
  height: 163px;
}

/*pantry styling*/
.pantry {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 12px;
}

.pantry-header {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 40px;
  margin-left: 5px;
  width: 358px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  width: 230px;
  height: 34px;
  padding-left: 10px;
  font-family: figtree;
  font-size: 14px;
  font-weight: 700;
  background-color: #e3e3e3;
  border-color: var(--green);
  border-width: 3px;
  border-radius: 20px;
  color: var(--black);
}

.cat-bar {
  position: absolute;
  top: 0;
  display: inline-block;
  overflow-x: auto;
  white-space: nowrap;
  width: 363px;
  height: 34px;
  margin-top: 110px;
  margin-bottom: -10px;
  border-radius: 10px;
  background-color: var(--lime);
}

.cat-button {
  font-family: figtree;
  font-size: 14px;
  font-weight: 600;
  background-color: transparent;
  border: 0px none;
  height: 34px;
  padding-left: 8px;
  padding-right: 8px;
}

.cat-button:focus {
  background-color: var(--green);
  color: var(--white);
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 10px;
  margin-top: 0px;
}

.pantry-grid {
  position: absolute;
  top: 0;
  margin-top: 150px;
  padding-top: 5px;
  width: 373px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.pantry-item {
  position: relative;
}

.pantry-fresh {
  width: 110px;
  height: 110px;
  border-radius: 20px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  margin-bottom: 5px;
}

.pantry-fresh2 {
  width: 149px;
  height: 149px;
  border-radius: 20px;
  margin-left: 7px;
  margin-right: 2.5px;
  margin-bottom: 5px;
}

.pantry-soon {
  width: 110px;
  height: 110px;
  border-radius: 20px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 10px var(--yellow);
}

.pantry-soon2 {
  width: 149px;
  height: 149px;
  border-radius: 20px;
  margin-left: 7px;
  margin-right: 2.5px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 10px var(--yellow);
}

.pantry-exp {
  width: 110px;
  height: 110px;
  border-radius: 20px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 10px var(--pink);
}

.pantry-exp2 {
  width: 149px;
  height: 149px;
  border-radius: 20px;
  margin-left: 7px;
  margin-right: 2.5px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 10px var(--pink);
}

.pantry-button {
  border: 0px none;
  background-color: transparent;
  margin-top: 0px;
  margin-bottom: 0px;
}

.pantry-overlay {
  position: absolute;
  top: 0;
  margin-top: 71px;
  margin-left: 2px;
  border-radius: 0px 0px 20px 20px;
  text-align: left;
  padding: 10px;
  padding-top: 5px;
  font-family: figtree;
  font-size: 12px;
  font-weight: 200px;
  height: 25px;
  width: 90px;
  background-color: rgb(8, 8, 8, 0.75);
  color: var(--white);
}

.item-page {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 20px;
  text-align: left;
  width: 363px;
  height: 800px;
  margin-top: 0px;
  overflow-y: scroll;
}

.item-header {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 60px;
  width: 353px;
  display: flex;
  justify-content: space-between;
}

.item-column {
  height: 149px;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-button {
  font-family: figtree;
  font-size: 20px;
  font-weight: 500;
  background-color: var(--green);
  border: 0px none;
  border-radius: 10px;
  color: var(--white);
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  height: 45px;
}

.status-fresh {
  font-family: figtree;
  font-size: 18px;
  font-weight: 600;
  color: var(--green);
  margin-top: 230px;
  margin-bottom: 0px;
}

.status-soon {
  font-family: figtree;
  font-size: 18px;
  font-weight: 600;
  color: var(--yellow);
  margin-top: 230px;
  margin-bottom: 0px;
}

.status-exp {
  font-family: figtree;
  font-size: 18px;
  font-weight: 600;
  color: var(--pink);
  margin-top: 230px;
  margin-bottom: 0px;
}

.item-info {
  font-family: figtree;
  font-size: 18px;
  margin-top: 0px;
}

.item-input {
  width: 250px;
  height: 36px;
  border-radius: 12px;
  border: 0px none;
  margin-top: 5px;
  margin-bottom: 20px;
  text-indent: 10px;

  font-family: figtree;
  font-size: 18px;
  font-weight: 600;

  background-color: #e3e3e3;
  color: #595858;
}

.edit-image {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 7px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px var(--black);
}

.image-input {
  justify-content: center;
  width: fit-content;
  border-radius: 12px;
  border: 0px none;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-right: 5px;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;

  font-family: figtree;
  font-size: 18px;
  font-weight: 600;

  background-color: #e3e3e3;
  color: var(--black);
}

.image-opts {
  display: block;
  width: 200px;
  margin-top: 0px;
  height: 20px;
}

.nf-dropdown {
  display: flex;
  flex-direction: column;
}

.nf-toggle {
  width: 353px;
  display: flex;
  justify-content: space-between;
}

.nf-block {
  display: none;
  width: 343px;
  margin-top: 40px;
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  margin-right: 0px;
}

.nf-dropdown:hover .nf-block {
  display: block;
}

.nf-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

.nf-header {
  font-family: manrope;
  font-size: 16px;
  font-weight: 600;
  color: var(--green);
  margin-top: 0px;
  margin-bottom: 3px;
  float: left;
}

.nf-text {
  font-family: manrope;
  font-size: 16px;
  font-weight: 200;
}

.nf-quant {
  font-family: manrope;
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
}

.nf-line {
  width: 373px;
  height: 2px;
  background-color: var(--green);
}

.nf-small {
  font-family: manrope;
  font-size: 12px;
  font-weight: 400;
  color: var(--black);
}

.arrow {
  margin-top: 13px;
}

.upload {
  opacity: 0;
  width: 0.1px;
}

.save-button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 90px;
  margin-right: 20px;
  background-color: var(--green);
  border: 0px none;
  border-radius: 10px;
  color: var(--white);
  font-family: figtree;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
}

.add-button {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: transparent;
  border: 0px none;
  margin-bottom: 110px;
  margin-right: 20px;
}

.close-button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 19px;
  background-color: transparent;
  border: 0px none;
}

.mode-bar {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 110px;
  margin-left: 20px;
  width: 353px;
  height: 34px;
  display: flex;
  background-color: var(--lime);
  border-radius: 10px;
}

.mode-button {
  width: 176.5px;
  height: 34px;
  background-color: transparent;
  color: var(--green);
  border: 0px none;
  border-radius: 10px;
  font-family: figtree;
  font-size: 18px;
  font-weight: 600;
}

.mode-button2 {
  width: 176.5px;
  height: 34px;
  background-color: var(--green);
  color: var(--white);
  border: 0px none;
  border-radius: 10px;
  font-family: figtree;
  font-size: 18px;
  font-weight: 600;
}

.popup-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 273px;
  height: 191px;
  border-radius: 20px;
  background-color: pink;
  border: 0px none;
}

.popup-text {
  font-family: figtree;
  font-size: 20px;
  font-weight: 400;
  padding-top: 20px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 5px;
}

.popup-text2 {
  font-family: figtree;
  font-size: 20px;
  font-weight: 400;
  padding-top: 5px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 0px;
  margin-bottom: 5px;
}

.popup-label {
  font-family: figtree;
  font-size: 16px;
  font-weight: 500;
  color: var(--black);
}

.green-button {
  font-family: figtree;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--green);
  border: 0px none;
  border-radius: 10px;
  color: var(--white);
  padding: 10px;
}

/*shopping styling*/
.shopping-item {
  width: 323px;
  height: 77px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 40px;
}

.shopping-info {
  text-align: left;
  width: 150px;
  display: flex;
  flex-direction: column;
  line-height: 0;
}

.button-bar {
  width: 393px;
  display: flex;
  justify-content: space-between;
}

.divider {
  height: 1px;
  width: 393px;
  background-color: #a0a0a0;
}